.comment {
    border: solid 1px #c9c9c9;
    display: flow-root;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 0;
}
.comment p {
    margin: 0;
}
.user {
    color: blue;
    font-size: 14px;
    font-family: monospace;
}
.img-fluid {
    width: 265px;
}
.main-content {
    min-height: 90vh;
    background-color: #fefefe;
    box-shadow: 3px 7px 10px 3px gray;
}
.article {
    border-bottom: 1px solid #aeaeae;
}
.comments-loader {
    width: 100%;
    display: flex;
    justify-content: center;
}
.comments-loader .loader {
    width: 20%;
}